#card {
  padding: 20px;
  margin: 20px auto;
  background: black;
  opacity: 80%;
  border-radius: 2%;
  border: 1px solid white;
  width: 300px;

  img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
